.AppIndex-Header {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    border-top: 1px solid silver;
    height: 40px;
}

.AppIndex-Header-Title {
    flex-grow: 1;
    letter-spacing: .1rem;
    font-variant: small-caps;
}