.page-entry-title {
    position: absolute;
    bottom: calc(50% + 80px);
    transition: all 2s ease 1s;
    transform: scale(1);
}

.page-entry-title>p {
    font-size: 30px;
    font-family: monospace;
    letter-spacing: 0.16em;
    margin: 0;
    margin-right: -0.16em;
    opacity: .7;

}

.page-entry-title.before {
    bottom: 50%;
    transform: scale(2);
}

.page-entry-window>div {
    display: flex;
    align-items: flex-end;
}

.page-entry-window input {
    padding-left: 10px;
    font-family: monospace;
    font-size: 13px;
    padding-bottom: 2px;
    color: gray;
}

.page-entry-window>div>div>div:first-child button {
    padding: 6px 6px;
}

.page-entry-window>div>div {
    height: calc(100% - 60px);
    bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page-entry-window>div>div>div {
    /* margin-top: 100px; */
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.page-entry-window>div>div>div>div {
    flex-grow: 1;
}

.page-entry-window>div>div>div:nth-child(2)>div {
    border-bottom: 1px solid;
}


.page-entry-window {
    margin-bottom: 30px;
    opacity: 1;
    width: 360px;
    height: 260px;
    transition: opacity 2s ease 3s;
}

.page-entry-window.before {
    opacity: 0;
}

.page-entry-window-help {
    align-self: flex-end;
    font-size: 12px;
    opacity: .8;
    margin-top: -33px;
    text-decoration: underline;
    text-decoration-color: white;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.page-entry-window-help:hover {
    text-decoration-color: gray;
}